@use 'variables' as *;

body {
  width: 100vw;
  color: $color;
  background-color: $backgroundC;

  h1,
  h2,
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}